{
    "env": {
        "jest": true
    },
    "extends": "standard",
    "plugins": ["jest"],
    "rules": {
        "comma-dangle": ["error", "always-multiline"],
        "indent": ["error", 4],
        "quotes": ["error", "double"],
        "semi": ["error", "always"],
        "space-before-function-paren": ["error", "never"],
        "jest/no-disabled-tests": "warn",
        "jest/no-identical-title": "error"
    }
}
